# ORCHESTRATOR VARS ###########

ORCHESTRATOR_INPUT_HOST_DIR=/home/ubuntu/Desktop/TrustVuln/input    # Host input directory
ORCHESTRATOR_OUTPUT_HOST_DIR=/home/ubuntu/Desktop/TrustVuln/output  # Host output directory

CONFIG_HOST_DIR=/home/ubuntu/Desktop/TrustVuln/config   # Configuration directory

ORCHESTRATOR_CONFIG_FILE=php-config.toml    # Configuration file name

ORCHESTRATOR_MSG_LVL=DEBUG  # Orchestrator message printing minimum level (1-DEBUG/2-INFO/3-WARNING/4-ERROR)

# REPORT VARS ###########

REPORT_INPUT_HOST_DIR=/home/ubuntu/Desktop/TrustVuln/output/Reports
REPORT_OUTPUT_HOST_DIR=/home/ubuntu/Desktop/TrustVuln/output/Reports/Formatted
REPORT_TYPE=MD

# UPLOAD VARS ###########

UPLOAD_INPUT_HOST_DIR=/home/ubuntu/Desktop/TrustVuln/output
UPLOAD_CONFIG_FILE=upload.toml
UPLOAD_AUTH_KEY=aaaaaaaaabbbbbbbbcccccccddddddd123456789
